<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<footer class="shared footer bg-blue-light pt-3">
  <div class="container">
    <div class="row pb-2">
      <div class="col-12 col-xl-4 text-center text-xl-start pb-2">
        <h4 class="fs-4 fw-semibold text-primary">{{ .Site.Title }}</h4>
        <p class="small text-black-61">{{ .Site.Params.description }}</p>
        <p class="small text-black-61"><a href="mailto:link23@genomicsengland.co.uk">link23@genomicsengland.co.uk</a></p>
        {{ with .Site.Params.social }}
        <ul class="d-flex justify-content-center justify-content-xl-start list-unstyled">
          <li class="p-2"><a class="d-flex align-items-center justify-content-center" href="{{ .slack }}"><img class="size-24" src="{{ site.BaseURL }}images/icons/slack.png"></a></li>
        </ul>
        {{ end }}
      </div>
      <div class="col-12 col-xl-2 text-center text-xl-start">
        <h5 class="fs-6 fw-semibold text-primary">Useful links</h5>
        <ul class="list-unstyled list-footer">
          {{ range .Site.Menus.footer }}
            <li class="">
              <a class="small text-black-61 text-decoration-none" href="{{ .URL }}">{{ .Name }}</a>
              {{ if or (eq .Name "GitHub") (eq .Name "Sandbox") }}
                <i class="fa fa-external-link"></i>
              {{ end }}
            </li>
          {{ end }}
        </ul>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start">
        <h5 class="fs-6 fw-semibold text-primary">A Genomics England Limited Initiative</h5>
        <p class="small text-black-61">1 Canada Square, London E14 5AB, United Kingdom. </p>
        <p class="small text-black-61">link23 does not necessarily reflect the views of Genomics England. </p>
      </div>
      <div class="col-12 col-xl-3 text-center text-xl-start">
        <img class="w-100 justify-content-center" src="{{ .Site.BaseURL }}images/brand/link23-dark.png" alt="Genomics England Logo" style="float: right;">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
          <p class="small text-black-61 text-center">© 2023 link23. Full details of our creative commons licence <a href="https://github.com/link23-world/collabspace/blob/main/LICENSE.md">available here</a>. | <a href="https://www.genomicsengland.co.uk/privacy-policy">Privacy Policy</a> | <a href="https://genomicsenglandltd.sharepoint.com/:b:/s/Link23-world/ETzoVuPpl_9PimLxf6IqOCQBlag2jM19KKqhOsgVswqH2g?e=DjkClJ">Terms of Use</a> </p>
      </div>
    </div>
  </div>
</footer>
