{{ define "main" }}
  <section class="section blog-single py-4">
    <h3 class="fs-1 fw-bold text-center text-primary pb-3">About</h3>
    <div class="container-fluid">
      <div class="row g-2 pt-3">
        <div class="col-md-4">
          <div class="card h-100 p-4 pb-0 shadow-lg bg-white rounded">
            <div class="card-body text-left">
              <h4 class="card-text text-danger text-center pb-4">What is link23?</h4>
              <p>{{ partial "sections/whoarewe.html" }}</p>
            </div>
        </div>
        </div>
        <div class="col-md-5">
            <div class="row pb-2 h-50">
                <div class="col-md-12 mx-auto h-100">
                    <div class="card h-100 shadow-lg p-2">
                      <div class="card-body text-left">
                        <h4 class="card-text text-danger text-center pb-4">Our Values</h4>
                        <p>{{ partial "sections/values.html" }}</p>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row h-50">
              <div class="col-md-12 mx-auto h-100">
                  <div class="card h-100 shadow-lg p-2">
                    <div class="card-body text-left">
                      <h4 class="card-text text-danger text-center pb-4">Licensing and Citing</h4>
                      <p>{{ partial "sections/citeus.html" }}</p>
                    </div>
                  </div>
                </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="card h-100 shadow-lg p-2">
            <h4 class="card-text text-danger text-center pb-4">link23 Team</h4>
            <p class="text-left">
              link23 is made up of a permanent team based at Genomics England as well as our growing community. We credit all contributions from suggesting new ideas to running projects, you can see <a href="https://github.com/link23-world/collabspace/tree/main#contributors">all of our contributors here</a>.
            </p>
          </div>
        </div>
    </div>
  </section>
{{ end }}
