{{ define "main" }}
<section class="section standard p-5" id = "section-standards">
    <div class="container" style="width: 60%;">
      {{ $date := (path.Base .RelPermalink | time) }}
      <div>{{$date.Format "2 January 2006"}}</div>
      <div class="fs-1 fw-bold text-primary">{{.Params.title}}</div>
      <div class="fs-2 fw-bold text-light pb-3">by {{ delimit .Params.author ", "}}</div>
      <div class="img-fluid justify-content-center text-center pb-4">
        <img style="width: 300px" src='/images/blog/posts/{{$date.Format "2006-01-02"}}.jpg'>
      </div>
      <div>
        <article class="blog-content pb-5">
          {{ .Content }}
          {{ if isset .Params "podcast"}}
            <button type="button" class="btn btn-success d-flex m-auto"><a href="{{ .Params.podcast}}" style="color: white;">Listen to the podcast here</a></button>
          {{ end }}
          {{ if isset .Params "video"}}
            <button type="button" class="btn btn-success d-flex m-auto"><a href="{{ .Params.video}}" style="color: white;">Watch the video here</a></button>
          {{ end }}
        </article>
      </div>
      <hr>
      <div class="container pt-3">
        {{ range $author := .Params.author}}
        {{ $author := (replace ( $author | lower) " " "-")}}
        {{ with site.GetPage (print "blog/authors/" $author ".md") }}
          <div class="row alt-reverse-2 pb-3">
            <div class="col-4">
              <img style="width: 250px" src="images/blog/authors/{{$author}}.jpg">
            </div>
            <div class="col-8 pt-5">
              {{ .Content }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      <hr>
    </div>
  </section>
{{ end }}
