{{ define "main" }}
  <section class="section p-5">
    <div class="container px-5">
      <div class="row justify-content-center">
        <div class="col-12 col-xl-auto">
          <h3 class="fs-1 fw-bold text-center text-primary pb-3">Similar Initiatives</h3>
          <p>
            Below is a list of human genetic (or closely related) initiatives that we have come across that are either explicitly looking to improve diversity in genomics and related health data, or are based outside of Europe. As well as these initiatives, take a look at <a href="../toolbox">our toolbox</a>, which contains a list of verified tools relating to genomic equity. Please let us know if you think there's an initiative missing and we will add it to the list. You can also make a <a href="https://github.com/link23-world/collabspace/pulls">pull request to this collaboration space's GitHub</a> to add a new initiative to this list.
          </p>
      </div>
      </div>
    </div>
  </section>
  <section>
    {{ with .Site.Data.lists.initiatives }}{{ partial "lists/initiatives.html" . }}{{ end }}
  </section>
{{ end }}
