<section class="section services pb-5">
  <p>
    Our full licence can be read on our <a href="https://github.com/link23-world/collabspace/blob/main/LICENSE.md">GitHub repository</a>, in summary (this does not replace the legal text):<br>
    Our branding (logo and link23 images) is licenced under <a href="https://creativecommons.org/licenses/by-nd/4.0/">CC BY-ND 4.0</a>, so you can share it as you like but you cannot make changes to our templates. All other content on link23 is licenced under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> so you can share and adapt any materials you find in these pages as long as you cite us. The code to build this collaboration space is licenced under <a href="https://www.apache.org/licenses/LICENSE-2.0">Apache 2.0</a> and is freely available from <a href="https://github.com/link23-world/collabspace">our GitHub</a>, this means you can share and adapt the source code in anyway you like, as long as you cite us.<br><br>

    We suggest the following attribution statement to cite link23 (click to copy!):
  </p>

  <div class="tooltip2 pb-3">
    <span class="tooltiptext" id="tooltipweb">Click to copy with today's date</span>
    <div class="copy-box px-4 py-2" id="copyweb" onclick="copybox(copyweb)" onmouseleave="resettip(tooltipweb)">
      “link23. ({Year accessed}). “Accessed on: {YYYY-MM-DD}”. https://link23-world.github.io/collabspace/.”
    </div>
  </div>

  <p>Or if you want to use the source code that built this website:</p>

  <div class="tooltip2 pb-3">
    <span class="tooltiptext" id="tooltipcode">Click to copy with today's date</span>
    <div class="copy-box px-4 py-2" id="copycode" onclick="copybox(copycode)" onmouseleave="resettip(tooltipcode)">
      “link23. ({Year accessed}). “Accessed on: {YYYY-MM-DD}”. https://github.com/link23-world/collabspace.”
    </div>
  </div>

    <p>Please check and adhere to individual licences for tools in <a href="/toolbox">our toolbox</a>.</p>
</section>

<script>
  function copybox(obj) {
    let date = new Date()
    const yyyymmdd = date.toISOString().substr(0, 10);

    let text = obj.innerText;
    text = text.replace("{Year accessed}", date.getFullYear());
    text = text.replace("{YYYY-MM-DD}", yyyymmdd);

    navigator.clipboard.writeText(text);
    console.log("Copied: " + text);

    $("#" + obj.id.replace("copy", "tooltip")).text("Copied!");
  }

  function resettip(obj) {
    obj.innerText = "Click to copy with today's date";
  }
</script>