As we work to achieve our vision, we will hold ourselves to six key values:
<br><br>
<ol>
  <li><strong>Open</strong> — We will promote best practices in open science in everything we do, including tool development, standards we set for genomic tools, and sharing of research.</li>
  <li><strong>Accountable</strong> — We will be open to criticism and feedback and will have clear mechanisms for reporting these including a strict and enforced code of conduct.</li>
  <li><strong>Respectful</strong> — We will acknowledge what we do and do not know and what we need to learn and we will respect the diversity of perspectives and experiences of those engaging with link23.</li>
  <li><strong>Trustworthy</strong> — We will build partnerships where two-way trust is established between link23 and our community. We will listen to the needs of our community and will not overpromise.</li>
  <li><strong>Inclusive</strong> — We will welcome people from diverse backgrounds and with multidisciplinary skills and actively remove barriers preventing diversity in members.</li>
  <li><strong>Evolving</strong> — We will work with our community members to evolve link23 in a direction that benefits the community best.</li>
</ol>
