link23 is an initiative within the <a href="https://www.genomicsengland.co.uk/initiatives/diverse-data">Diverse Data</a> team in Genomics England. The name comes from our goal to <strong>link</strong> and connect people from around the world to work with us on a mission to improve genomic equity and <strong>23</strong> is the number of pairs of chromosomes in the <em>average</em> human cell, which encode all your genetic information. We use the term 'average' not 'normal' as not everyone has 23 chromosomes but 23 is the average number across all humans worldwide.
<br><br>
Our <strong>mission</strong> is to improve equity and diversity in the providers, users and beneficiaries of genomic tools and data worldwide.
<br><br>
Our <strong>vision</strong> is a world in which genomic tools benefit, and are accessible to, all people from all backgrounds.
<br><br>
We will achieve our vision by:<br><br>
<ol>
  <li>Developing and curating accessible and understandable <strong>tools</strong>.</li>
  <li>Working with community leaders to identify <strong>challenges</strong> to solve with tools.</li>
  <li>Building an active and engaged diverse and multidisciplinary <strong>community</strong>.</li>
  <li><strong>Empowering</strong> all people from all backgrounds to share genomic data.</li>
  <li><strong>Informing</strong> people about the power of data, open science, and the need for EDI.</li>
</ol>

Like all our content, <a href="https://docs.google.com/document/d/1hZDHUrFCtIB4YEMnPacynezBO-WnDdrJOa-FvOYqa5g/edit?usp=sharing">our strategy is open</a> to the public and open to comments, let us know what you think!
