<section class="section window pb-5 pt-3">
  <div class="container" id="home" style="min-height: 78vh;">
    <div class="row gx-5 h-100">
      <div class="col-12 col-lg-4 h-100 pb-3">
        <div class="card h-100 p-4 shadow bg-white rounded" style="min-height: 79vh">
          <div class="card-body text-left">
            <p class="card-text text-primary">
              <strong>link23</strong> is an Open initiative on a mission to improve equity and diversity in the providers, users and beneficiaries of genomic tools and data worldwide. We work across four overlapping pillars focused on:<br><Br>
              <ol>
                <li class="pb-2">Curating existing tools</li>
                <li class="pb-2">Developing new tools</li>
                <li class="pb-2">Running collaborative and competitive challenges</li>
                <li class="pb-2">Building an exciting and engaged community all around tools for genomic equity.</li>
              </ol>
            </p>
            <div class="text-center m-0 p-0">
            {{ range .content.buttons }}
              <a class="btn btn-outline-primary px-2 ms-sm-2 text-center" href="{{ .url }}">{{ .label }}</a>
            {{ end }}
            </div>
            <div class="position-relative">
              <div class="row m-auto w-100">
                <div class="col-12">
                  <img id="dnatool-gif" class="gifimg mx-auto w-100" src="{{ .Site.BaseURL }}images/dnatool.gif" alt="Cartoon gif of double helix and cogs">
                  <img id="dnatool-img" class="gifimg mx-auto w-100" src="{{ .Site.BaseURL }}images/dnatool.png" alt="Cartoon image of double helix and cogs">
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 h-100">
        {{ range .content.row1}}
        <div class="row h-50 pb-3">
            <div class="card shadow p-4 bg-white rounded h-100 w-100" style="min-height: 39vh;">
              <div class="card-body text-center w-100">
                  <h4 class="card-title text-center text-danger pb-2">{{ .title }}</h4>
                  <img class="w-60 rounded-circle" src="{{ .Site.BaseURL }}images/window/{{ .image }}.png">
                  <div class="text-center m-0 p-0">
                    {{ range .button }}
                    <a class="btn btn-outline-primary px-2 mt-4 ms-sm-1 text-center" href='{{ .url }}'>{{ .label }}</a>
                  {{ end }}
                  </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
      <div class="col-12 col-lg-4 h-100">
        {{ range .content.row2}}
        <div class="row h-50 pb-3">
            <div class="card shadow p-4 bg-white rounded h-100 w-100" style="min-height: 39vh;">
              <div class="card-body text-center w-100">
                  <h4 class="card-title text-center text-danger pb-2">{{ .title }}</h4>
                  <img class="w-60 rounded-circle" src="{{ .Site.BaseURL }}images/window/{{ .image }}.png">
                  <div class="text-center m-0 p-0">
                    {{ range .button }}
                    <a class="btn btn-outline-primary px-2 mt-4 ms-sm-1 text-center" href='{{ .url }}'>{{ .label }}</a>
                  {{ end }}
                  </div>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
</section>

<script>
  const dnagif = document.getElementById('dnatool-gif');
  const dnaimg = document.getElementById('dnatool-img');

  document.getElementsByClassName("navbar")[0].addEventListener("mouseover", GIFtoimg);
  document.getElementsByClassName("navbar")[0].addEventListener("mouseout", imgtoGIF);

  window.onscroll = function() { toggleGIF() };

  function imgtoGIF() {
    dnagif.style.opacity = '1';
    dnaimg.style.opacity = '0';
  }

  function GIFtoimg() {
    dnagif.style.opacity = '0';
    dnaimg.style.opacity = '1';
  }

  function toggleGIF() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
      GIFtoimg()
    } else {
      imgtoGIF()
    }
  }
</script>
